<ion-header>
  <ion-toolbar>
    <ion-title>cest qu'oi?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/oms.png">
      </ion-avatar>
      <ion-label>
        <h3>OMS</h3>
        
      </ion-label>
    </ion-item>
  
    <img src="../../assets/img1.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title style="background: white;">Qu’est-ce qu’un coronavirus ?</ion-card-title>
    </ion-card-header>
    <ion-card-content style="background: white;">
      Les coronavirus forment une vaste famille de virus qui peuvent être pathogènes chez l’homme et chez l’animal. On sait que, chez l’être humain, plusieurs coronavirus peuvent entraîner des infections respiratoires dont les manifestations vont du simple rhume à des maladies plus graves comme le syndrome respiratoire du Moyen-Orient (MERS) et le syndrome respiratoire aigu sévère (SRAS). Le dernier
       coronavirus qui a été découvert est responsable de la maladie à coronavirus 2019 (COVID-19).
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Qu’est-ce que la COVID-19 ?</ion-card-title>
    </ion-card-header>
    <ion-card-content style="background: white;">
      La COVID-19 est la maladie infectieuse causée 
      par le dernier coronavirus qui a été découvert. Ce nouveau virus et cette maladie étaient inconnus avant l’apparition de la flambée à Wuhan (Chine) en décembre 2019. 
    </ion-card-content>
    <ion-footer>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/oms.png">
      </ion-avatar>
      <ion-label>
        <h3>OMS</h3>
        
      </ion-label>
    </ion-item>
  
    <img src="../../assets/syntome.jpg" alt="ion">
    <ion-card-header style="background: white;">
      <ion-card-title>Quels sont les symptômes de la COVID-19 ?</ion-card-title>
    </ion-card-header>
    <ion-card-content style="background: white;">
      Les symptômes les plus courants de la COVID-19 sont la fièvre, la fatigue et une toux sèche. Certains patients présentent des douleurs, une congestion nasale, un écoulement nasal, des maux de gorge ou une diarrhée. Ces symptômes sont généralement bénins et apparaissent de manière progressive. Certaines personnes, bien qu’infectées, ne présentent aucun symptôme et se sentent bien. La plupart (environ 80 %) des personnes guérissent sans avoir besoin de traitement particulier. Environ une personne sur six contractant la maladie présente des symptômes plus graves, notamment une dyspnée. Les personnes âgées et celles qui ont d’autres problèmes de santé (hypertension artérielle, problèmes cardiaques ou diabète) ont plus de risques de présenter des symptômes graves. Toute personne 
      qui a de la fièvre, qui tousse et qui a des difficultés à respirer doit consulter un médecin. 
    </ion-card-content>
    <ion-footer>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/oms.png">
      </ion-avatar>
      <ion-label>
        <h3>OMS</h3>
        
      </ion-label>
    </ion-item>
  
    <img src="../../assets/syntome.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title style="background: white;">Comment la COVID-19 se propage-t-elle ?</ion-card-title>
    </ion-card-header>
    <ion-card-content style="background: white;">
      La COVID-19 est transmise par des personnes porteuses du virus. La maladie peut se transmettre d’une personne à l’autre par le biais de gouttelettes respiratoires expulsées par le nez ou par la bouche lorsqu’une personne tousse ou éternue. Ces gouttelettes peuvent se retrouver sur des objets ou des surfaces autour de la personne en question. On peut alors contracter la COVID-19 si on touche ces objets ou ces surfaces et si on se touche ensuite les yeux, le nez ou la bouche. Il est également possible de contracter la COVID-19 en inhalant des gouttelettes d’une personne malade qui vient de tousser ou d’éternuer. C’est pourquoi il est important de se tenir à plus d’un mètre d’une personne malade.

L’OMS examine les travaux de recherche en cours sur la manière dont la COVID-19 se propage et elle continuera à communiquer les résultats actualisés.
Le virus responsable de la COVID-19 est-il transmissible par voie aérienne ?

Les études menées à ce jour semblent indiquer que le virus responsable de la COVID-19 est principalement transmissible par contact avec des gouttelettes respiratoires, plutôt que par voie aérienne. Voir la réponse à la question précédente, « Comment le COVID-19 se propage-t-elle ? »
Peut-on contracter la COVID-19 au contact d’une personne qui ne présente aucun symptôme ?

La maladie se propage principalement par les gouttelettes respiratoires expulsées par les personnes qui toussent. Le risque de contracter la COVID-19 au contact d’une personne qui ne présente aucun symptôme est très faible. Cependant, beaucoup de personnes atteintes ne présentent que des symptômes discrets. C’est particulièrement vrai aux premiers stades de la maladie. Il est donc possible de contracter la COVID-19 au contact d’une personne qui n’a, par exemple, qu’une toux légère mais qui ne se sent pas malade. L’OMS examine les travaux de recherche en cours sur le délai de transmission de la COVID-19 et elle continuera à communiquer des résultats actualisés.
<br><b>Puis-je contracter la COVID-19 par contact avec les matières fécales d’une personne malade ?</b><br/>

Le risque de contracter la COVID-19 par contact avec les matières fécales d’une personne infectée paraît faible. Les premières investigations semblent indiquer que le virus peut être présent dans les matières fécales dans certains cas, mais la flambée ne se propage pas principalement par cette voie. L’OMS examine les travaux de recherche en cours sur la manière dont la COVID-19 se propage et elle continuera à communiquer les nouveaux résultats. Cependant, comme le risque existe, c’est une raison supplémentaire de se laver les mains régulièrement, après être allé aux toilettes et avant de manger. 
    </ion-card-content>
    <ion-footer>
    </ion-footer>
  </ion-card>
</ion-content>
