<ion-content class="bg-style">
    <ion-slides pager="true" [options]="slideOptions" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">

        <ion-slide style="background-color: green">
          <h2>Slide 1</h2>
        </ion-slide>
      
        <ion-slide style="background-color: blue">
          <h2>Slide 2</h2>
        </ion-slide>
      
        <ion-slide style="background-color: red">
          <h2>Slide 3</h2>
        </ion-slide>
      
      </ion-slides>
      <!-- <ion-grid>
        <ion-row>
          <ion-col>
            <div>
                <ion-card >
                    <ion-item lines="none" color="secondary">
                        <ion-icon name="cafe" slot="start"></ion-icon>
                        <ion-icon name="more" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item color="secondary" lines="none">
                        <ion-label>
                                ion-item in a card,
                        </ion-label>
                    </ion-item>
                </ion-card>
            </div>
          </ion-col>
          <ion-col>
            <div >
                <ion-card>
                    <ion-item lines="none" color="primary">
                        <ion-icon name="cafe" slot="start"></ion-icon>
                        <ion-icon name="more" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item lines="none" color="primary">
                        <ion-label>
                                ion-item in a card,
                        </ion-label>
                    </ion-item>
                </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-card text-center padding color="danger">
              <ion-icon name="person"></ion-icon>
              <h5>C'est quoi ?</h5>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card text-center padding color="danger">
              <ion-icon name="people"></ion-icon>
              <h5>Protection</h5>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-card text-center padding color="danger">
              <ion-icon name="settings"></ion-icon>
              <h5>Test</h5>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <ion-card text-center padding color="danger">
              <ion-icon name="list"></ion-icon>
              <h5>Nous</h5>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-6>
            <ion-card text-center padding color="danger">
              <ion-icon name="add"></ion-icon>
              <h2>Add Task</h2>
            </ion-card>
          </ion-col>
          <ion-col col-6>
              <ion-card text-center padding color="danger">
                <ion-icon name="calendar"></ion-icon>
                <h2>Appointment</h2>
              </ion-card>
            </ion-col>
        </ion-row> -->
      </ion-grid>
  
</ion-content>
