ion-content{
    --background:linear-gradient(0deg, rgba(45,231,253,1) 1%, rgba(66,150,244,1) 100%);
    --background-repeat: no-repeat;
    --background-size: cover;  
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ion-icon {
    font-size: 4em;
}
 